@model MVCSirketYonetimi.Data.Models.Entities.Calisan
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Çalışsan Güncelleme Sayfası</h2>

@using (Html.BeginForm("Guncelle", "Calisan", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Ad)
        @Html.TextAreaFor(x => x.Ad, new { @class = "form-control" })

        @Html.LabelFor(x => x.Soyad)
        @Html.TextAreaFor(x => x.Soyad, new { @class = "form-control" })

        @Html.LabelFor(x => x.Maas)
        @Html.TextAreaFor(x => x.Maas, new { @class = "form-control" })

        @Html.LabelFor(x => x.departmanId)
        @Html.TextAreaFor(x => x.departmanId, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(X => X.Id)
    <br>

    <button type="submit" class="btn btn-success"> Çalışanı Guncelle</button>


}



