@using MVCSirketYonetimi.Data.Models.Entities
@model List<Calisan> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2>Çalışanlar Listesi</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>ID</td>
            <td>Ad</td>
            <td>Soyad</td>
            <td>Maas</td>
            <td>Departman Id</td>
            <td>Güncelle</td>
            <td>Sil</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var calisan in Model)
        {
        <tr>
            <td>@calisan.Id</td>
            <td>@calisan.Ad</td>
            <td>@calisan.Soyad</td>
            <td>@calisan.Maas</td>
            <td>@calisan.departmanId</td>

            <td><a class="btn btn-primary" href="/Calisan/Guncelle/@calisan.Id">Güncelle</a></td>
            <td><a class="btn btn-primary" href="/Calisan/Sil/@calisan.Id">Sil</a></td>
        </tr>
        }
    </tbody>
</table>

<a href="/Calisan/Ekle" class="btn btn-danger">Çalışan Ekle Sayfasına Git</a>

